
.btn-buscar-navbar:hover {
  background-color: #d97c90;
  border-color: #d97c90;
  color: #fff !important;
}

.btn-buscar-navbar:focus,
.btn-buscar-navbar:active {
  background-color: #cc5d75 !important;
  border-color: #cc5d75 !important;
  color: #fff !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn-buscar-navbar:hover {
  background-color: #cc5d75;
  border-color: #d97c90;
  color: #fff !important;
}

.btn-buscar-navbar:focus,
.btn-buscar-navbar:active {
  background-color: #cc5d75 !important;
  border-color: #cc5d75 !important;
  color: #fff !important;
  box-shadow: none !important;
}

/* Responsive */
@media (max-width: 991px) {
  .mi-navbar {
    padding: 14px 18px;
  }

  .menu-principal-navbar {
    margin-left: 0;
    margin-top: 15px;
    gap: 6px;
  }

  .mi-navbar .nav-link {
    font-size: 1rem;
  }

  .buscador-navbar {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .iconos-navbar img {
    width: 28px;
    height: 28px;
  }

  .mi-navbar .navbar-brand img {
    width: 125px;
  }
}

/* Fuera del media query, aplica siempre */
.mi-navbar .navbar-collapse {
  margin-top: 0 !important;
}

@media (min-width: 576px) {
  .mi-navbar .container-fluid {
    flex-wrap: nowrap;
  }

  .mi-navbar .navbar-collapse {
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-end;
    order: 1;
  }

  .mi-navbar .iconos-navbar {
    order: 2;
  }
  .mi-navbar .navbar-collapse,
  .mi-navbar .iconos-navbar {
    align-self: center;
    height: auto;
  }

  .mi-navbar .navbar-collapse .w-100 {
    display: flex;
    align-items: center;
  }
}
 